mixin video(video)
    div.video__elem
        a(href=`/videos/${video.id}` )
            div.video__thumb(style= `background-image: url(${video.thumbUrl}); background-size: cover;`)
            span.video__title=video.title
        small.video__metadata • #{video.meta.views} views
        small.vidieo__date  • #{video.createdAt.toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})}