extends base

block content
    div#videoContainer(data-id=video._id)
        video(src="/" + video.fileUrl)
        div#videoControls
            div.videoControls__play
                span#play.videoConrols__playBtn 
                    i.fas.fa-play 
            div.videoControls__time
                span#currenTime 00:00
                span  / 
                span#totalTime 00:00
            div.play__right
                input(type="range", step="1", value="0", min="0")#timeline.videoControls__timeline
                div.videoControls__volume
                    input(type="range", step="0.1", value="0.5", min="0", max="1")#volume
                    span#mute
                        i.fas.fa-volume-up
                div
                    span#fullScreen.fullScreen
                        i.fas.fa-expand


    div.video__data
        h1.video__title=video.title
        div.video__description
            p=video.description
        div.video__owner Uploaded by
            a(href=`/users/${video.owner._id}`)=video.owner.name
            small.video__createdAt=`• ${new Date(video.createdAt).toLocaleDateString("ko-kr")}`
        div
            ul 
                each hashtag in video.hashtags
                    li=hashtag

        //- , {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
        
        if String(video.owner._id) === String(loggedInUser._id) 
            div.edit__del
                span 
                    i.fas.fa-edit 
                a(href=`${video.id}/edit`) &nbsp;Edit Video ➡️
                br
                span 
                    i.fas.fa-trash-alt
                a(href=`${video.id}/delete`) &nbsp;Delete Video ➡️
    
    hr

    if loggedIn
        div.video__add-comments
            h3 Write comment
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10") 
                button Add Comment

    dev#videoComments.video__comments
        h3.title__comments Comments
        ul.ul__comments
            each comment in video.comments
                li.video__comment(data-id=comment._id)
                    i.fas.fa-comment
                    span.txt__comment #{comment.text}
                    //- 댓글을 작성하지 않은 사람에게는 숨겨야한다.
                    small.comment__createAt=new Date(comment.createAt).toLocaleDateString("ko-kr")
                    if String(comment.owner._id) === String(loggedInUser._id) 
                        span#delComment.del__comment(data-id=comment._id) ❌
                    

block scripts 
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")