
header
    a(href="/").header__logo
        i.fab.fa-youtube
        span.header__txt SyTube
    div.my__profile
        if loggedIn
            a(href=`/users/${loggedInUser._id}`)
                if loggedInUser.avatarUrl === ""
                    span 🤗
                else
                    if loggedInUser.avatarUrl.includes("github")
                        span Welcome #{loggedInUser.name}
                        img.header__avatar(src=loggedInUser.avatarUrl)
                    else
                        span Welcome #{loggedInUser.name}
                        img.header__avatar(src="/"+ loggedInUser.avatarUrl)
    nav 
        ul
            li
                a(href="/search")
                    i.fas.fa-search
            if loggedIn
                li 
                    a(href="/videos/upload") Upload Video
                li 
                    a(href=`/users/${loggedInUser._id}`) My Profile
                li 
                    a(href="/users/edit") Edit Profile
                li 
                    a(href="/users/logout") Log out
            else
                li 
                    a(href="/join") Join
                li 
                    a(href="/login") Log in
hr